<div class="col-md-offset-4 col-md-4" ng-controller="UserCtrl">
  <div class="login" ng-hide="$root.user.id">
    <h4 class="text-center"><i class="ion-log-in"></i> Log in</h4>
    <!-- <button class="btn btn-block btn-google" ng-click="authenticate('google')" ng-hide="$root.user.id"><i class="ion-social-instagram"></i> Sign in with Google</button> -->
    <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')" ng-hide="$root.user.id"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
  </div>
</div>
